<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_box">
      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_box">
    <div>
      <p>商品名</p>
      <%= f.text_field :name, id: :product_name, placeholder: "例）Hublot" %>
    </div>
    <div>
      <p>価格</p>
      <%= f.number_field :price, id: :product_price,
        placeholder: "数値で入力してください／円" %>
    </div>
    <div>
      <p>数量</p>
      <%= f.number_field :quantity, id: :product_quantity,
        placeholder: "数値で入力してください／個" %>
    </div>
    <div>
      <p>説明</p>
      <%= f.text_area :description, id: :product_description, placeholder: "500文字以内で入力してください" %>
    </div>
    <div>
      <p>画像</p>
      <%= f.attachment_field :product_images_images, multiple: true %>
    </div>
    <div>
      <p>ブランド名</p>
      <%= f.collection_select :category_id, Category.all, :id, :brand, prompt: "選択してください" %>
    </div>

    <div class="btn_box">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>